<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>

<div id="content" class="container">
    <div class="col-md-8">
        <h1>Customers</h1>
        <!-- Success Dismissible Alert -->
        <div class="alert alert-success" role="alert">
            <strong>Total</strong> of <span th:text="${customersCount}" /> customers!!!!!
        </div>
        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.address}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>